<!-- Header bar at the top of the page -->
<ion-header>
  <ion-toolbar style="--background: #3880ff; --color: white;">

    <!-- Shows the movie title passed from the home page -->
    <!-- The ? means if movie is null, don't crash - just show nothing -->
    <ion-title>{{ movie?.title }}</ion-title>

    <!-- Home and heart icons on the right side of the toolbar -->
    <ion-buttons slot="end">

      <!-- Goes back to the home page when clicked -->
      <ion-button (click)="goHome()">
        <ion-icon name="home" style="color:white; font-size:24px"></ion-icon>
      </ion-button>

      <!-- Goes to the favourites page when clicked -->
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart" style="color:red; font-size:24px"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Shows the movie description from the TMDB API -->
  <p>{{ movie?.overview }}</p>

  <!-- Add/Remove favourites button -->
  <!-- [color] changes the button colour based on isFavourite -->
  <!-- The text also changes depending on if it's already a favourite -->
  <ion-button (click)="toggleFavourite()" [color]="isFavourite ? 'danger' : 'primary'">
    {{ isFavourite ? 'REMOVE FROM FAVOURITES' : 'ADD TO FAVOURITES' }}
  </ion-button>

  <h3>Cast</h3>

  <!-- Loop through each cast member and show their photo, character and name -->
  <!-- Clicking a cast member goes to their details page -->
  <div *ngFor="let person of cast" (click)="goToPerson(person)">
    <img *ngIf="person.profile_path" [src]="getImage(person.profile_path)" style="width:100px"/>
    <p>{{ person.character }}</p>
    <p>{{ person.name }}</p>
    <hr/>
  </div>

  <h3>Crew</h3>

  <!-- Loop through each crew member and show their photo, job and name -->
  <!-- Clicking a crew member goes to their details page -->
  <div *ngFor="let person of crew" (click)="goToPerson(person)">
    <img *ngIf="person.profile_path" [src]="getImage(person.profile_path)" style="width:100px"/>
    <p>{{ person.job }}</p>
    <p>{{ person.name }}</p>
    <hr/>
  </div>

</ion-content>