<!-- Header bar at the top of the page -->
<ion-header>
  <ion-toolbar>

    <!-- Title shown at the top of the favourites page -->
    <ion-title>Favourite Movies</ion-title>

    <!-- Home icon on the right side of the toolbar -->
    <ion-buttons slot="end">

      <!-- Goes back to the home page when clicked -->
      <ion-button (click)="goHome()">
        <ion-icon name="home" style="color:white; font-size:24px"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Shown when there are no favourites saved yet -->
  <div *ngIf="favourites.length === 0" style="text-align:center; padding:40px">
    <ion-icon name="heart-outline" style="font-size:48px; color:grey"></ion-icon>
    <p style="color:grey">No favourite movies yet.</p>
  </div>

  <!-- CSS grid layout matching the home page - 5 columns of movie tiles -->
  <div style="display:grid; grid-template-columns: repeat(5, 1fr); gap:5px; padding:5px;">
    <div *ngFor="let movie of favourites" (click)="goToMovie(movie)" style="text-align:center">
      <img *ngIf="movie.poster_path" [src]="getImage(movie.poster_path)" style="width:100%; border-radius:5px"/>
      <p style="font-size:13px; margin:3px 0; color:white; font-weight:bold">{{ movie.title }}</p>
    </div>
  </div>

</ion-content>